

/* Landing-page Bottom divider */
.landing-page-divider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.landing-page-divider svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 75px;
}

.landing-page-divider .shape-fill {
    fill: #FFFFFF;
}   

/* top about */
.top-divider {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-divider svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 92px;
}

.top-divider .shape-fill {
    fill: #FFFFFF;
}

/* bottom about */
.bottom-divider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-divider svg {
    position: relative;
    display: block;
    width: calc(193% + 1.3px);
    height: 123px;
}

.bottom-divider .shape-fill {
    fill: #FFFFFF;
}